footer {
    background-color: $yellow;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 2rem 7rem;
    margin-top: 5rem;

    @include responsive(pc) {
        padding: 2rem;
        justify-content: center;
        row-gap: 2rem;
    }

    p {
        font-weight: bold;
        font-size: 1.7rem;
    }
}