main {
    text-align: center;
    margin-top: 3rem;

    @media (min-width: 992px) {
        margin-top: 6rem;
    }

    .name {
        @include animatedTitle;
        color: $yellow;
        font-size: 4rem;

        @media (max-width: 768px) {
            font-size: 3.2rem;
        }
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        padding-top: 1rem;
        font-size: 2.3rem;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;

        @media (min-width: 992px) {
            margin: 2rem 7rem;
        }

        .social-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            i {
                @include icon
            }
        }

        .illustration {

            img {
                height: 22rem;
                width: auto;
                float: right;
                margin-top: 5rem;
                transition: all ease 1s;
                animation: float 5s ease-in-out infinite;

                @media (min-width: 992px) {
                    height: 35rem;
                    margin-top: 0;
                }
            }
        }
    }

    .about-me {
        margin: 5rem 2rem 0 2rem;
        text-align: center;

        p {
            line-height: 3.5rem;
            margin-bottom: 2rem;
            font-size: 1.7rem;

            @media (min-width: 992px) {
                max-width: 60vw;
                margin: 1rem auto;
                font-size: 2.5rem;
            }
        }

        button {
            background-color: $yellow;
            color: $black;
            text-align: center;
            text-transform: uppercase;
            font-family: $titleFont;
            border: 1px solid $black;
            border-radius: .3rem;
            padding: 1rem 2rem;
            font-weight: bold;
            cursor: pointer;

            @media (min-width: 992px) {
                font-size: 2rem;
            }

            a {
                color: $black;
            }

            &:hover {
                background-color: $black;
                border: 1px solid $yellow;

                a {
                    color: $yellow;
                }
            }
        }
    }
}


@keyframes float {
    0% {
      transform: translatey(0px); 
      }
    50% {
      transform: translatey(-20px); 
      }
    100% {
      transform: translatey(0px); 
      }
  }