.slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 2rem;

  .slider-container {
    display: flex;
    transition: transform 0.7s ease;

    .card {
      flex: 0 0 100%;
      text-align: center;
      border: 1px solid #ddd;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 992px) {
        border: none;
      }
  
      img {
        max-width: 50%;
        height: 100%;
        min-height: 17rem;
      }

      .card-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 0 .5rem;
        padding: 1rem;

        @media (min-width: 992px) {
          gap: 7rem;
        }

        h3 {
          @include responsive(tablet) {
            font-size: 1.8rem;
          }
        }

        p {
          text-align: center;
          font-size: 1.8rem;
          cursor: default;
          max-width: 40rem;

          @include responsive(tablet) {
            font-size: 1.4rem;
          }

          span {
            @include responsive(tablet) {
              display: none;
            }
          }
        }

        a {
          background-color: $yellow;
          text-align: center;
          padding: 1rem 2rem;
          border-radius: 3px;
          font-weight: bold;
          border: 1px solid $white;
          cursor: pointer;
          color: $black;

          @media (min-width: 992px) {
            padding: 1.5rem 3rem;
            font-size: 2.5rem;
          }

          i {
            color: $black;
          }

          &:hover {
            background-color: transparent;
            border: 1px solid $yellow;
            color: $yellow;

            i {
              color: $yellow;
            }
          }
        }
      }
    }
  }

  .prev, .next {
    background-color: $yellow;
    font-size: 4rem;
    font-weight: bold;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;

    @media (max-width: 992px) {
      display: none;
    }
  }
  
  .prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    @include responsive (tablet) {
      display: none;
    }
  }
  
  .next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    @include responsive (tablet) {
      display: none;
    }
  }
}


.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;

  i {
    color: $white;
  }

  .filled {
    color: $yellow;
  }
}

.projects {
  @include responsive(pc) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}